* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    background-color: #333;
}

button {
    font-family: 'Nunito', sans-serif;
    width: 120px;
    font-weight: 700;
    color: aliceblue;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    top: 50px;
    transform: translate(-50%);
    padding: 10px 30px;
    border: 2px solid aliceblue;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 500ms;
}

button:hover{
    background-color: brown;
}

.btn-zoom{
    left: 25%;
}

.btn-zoom:hover ~ .square{
    width: 140px;
    height: 140px;
}

.btn-move{
    left: 50%;
}

.btn-move:hover ~ .square{
    top: 200px;
}

.btn-color{
    left: 75%;
}

.btn-color:hover ~ .square{
    background-color: black;
}

.square{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 150px;
    transform: translate(-50%);
    border-radius: 25px;
    background-color: brown;
    border: 2px solid lightcoral;
    box-shadow: 0 0 15px lightcoral;
    transition: 500ms;
}
 
.red {
    margin-left: 25%;
}
 
.blue {
    margin-left: 50%;
}
 
.green {
    margin-left: 75%;
}